@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply outline outline-transparent outline-2 outline-offset-2;
}

*:focus-visible {
  @apply outline-primary;
}

*,
*:focus {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.loader {
  --c: no-repeat linear-gradient(#d9d9d9 0 0);
  background: var(--c), var(--c), var(--c);
}
