@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-gray-200;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-main-bg;
}

.gradient-colors {
  @apply from-primary via-secondary to-tertiary;
}

.section-header {
  @apply relative leading-[1.3] text-secondary;
}

.section-header::after {
  content: "";
  @apply absolute h-0.5 w-[100px] bg-gray-200 rounded-full -bottom-3 left-1/2 -translate-x-1/2;
}

.section-header.about::after {
  @apply md:!left-0 md:!translate-x-0;
}

.break-word {
  word-break: break-word;
}

.nav-mobile {
  animation: animateNavMobile 0.3s ease-in-out forwards;
}

@keyframes animateNavMobile {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.circular-progress::before {
  content: "";
  @apply absolute w-[84%] h-[84%] bg-section-bg rounded-full;
}

.swiper-pagination {
  @apply static mt-4;
}

.swiper-pagination-bullet {
  @apply bg-[rgba(8,214,101,0.2)];
}

.swiper-pagination-bullet-active {
  @apply bg-secondary;
}
